import * as React from "react"
import { {{name}}Container } from "./styles"

export interface {{name}}Props {
  
}


function {{name}}() {
	return (
    	<{{name}}Container >
        	<h1>{{name}}</h1>
        </{{name}}Container>
    )
}

export { {{name}} }